# Version: 4.1.1 (Using https://semver.org/)
# Updated: 2022-05-23
# See https://github.com/RehanSaeed/EditorConfig/releases for release notes.
# See https://github.com/RehanSaeed/EditorConfig for updates to this file.
# See http://EditorConfig.org for more information about .editorconfig files.
##########################################
# Common Settings
##########################################
# This file is the top-most EditorConfig file
root = true
[*]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Matches the exact package files
[*.{package.json, package-lock.json, yarn.locl, pnpm-lock.yaml, pnpm-workspace.yaml, .eslintrc, eslintrc.js, .eslintignore, .prettierrc, .prettierrc.js, .prettierignore, firebase.json, babel.config.json, edgeware.json, .travis.yml, LICENSE, VERSION}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# JSON Files
[*.{json, json5, jsonc, webmanifest}]
indent_size = 4
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true
# JS files and typechecker files
[*.{js, cjs, mjs, ts, cts, mts, jsx, tsx, vue, svelte, astro, gql, graphql}]
charset = utf-8
indent_size = 4
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true
# Language for Data Science
[*.{ipynb, nb, py, pyx, pxi, pxd, r, rmd}]
indent_size = 4
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true
# Makeup languages
[*.{xml, xsl, htm, html, xhtml, cshtml, vbhtml, haml, phtml, jinja, hbs, handlebars}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Styles languages
[*.{css, scss, sass, less, styl, stylus}]
indent_size = 4
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true
# Object language
[*.{v, c, cpp, h, hpp, m, cs, pas, nim, rs, go, java, kt, scala, swift, ruby, php, sol, tf, OCaml, mqh, mq4, mq5}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Visual Studio XML Project Files
[*.{csproj, vbproj, vcxproj.filters, proj, projitems, shproj}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Visual Studio Solution Files
[*.sln]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# XML Configuration Files
[*.{xml, config, props, targets, nuspec, resx, ruleset, vsixmanifest, vsct}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# YML, YAML Files
[*.{yml, yaml}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Markdown Files
[*.{md, mdx}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Batch Files
[*.{cmd, bat, sh, Dockerfile, Compose}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Makefiles
[Makefile]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# C# Style Rules
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/language-rules#c-style-rules
[*.{cs, csx, cake}]
# .NET Naming Rules
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/naming-rules
##########################################
[*.{cs, csx, cake, vb, vbx}]
##########################################
# Default .NET Code Style Severities
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-options#scope
##########################################
[*.{cs, csx, cake, vb, vbx}]
# Default Severity for all .NET Code Style rules below
dotnet_analyzer_diagnostic.severity = all:warning
##########################################
# Unnecessary Code Rules
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/unnecessary-code-rules
##########################################
# .NET Unnecessary code rules
[*.{cs, csx, cake, vb, vbx}]
dotnet_code_quality_unused_parameters = all:warning
dotnet_remove_unnecessary_suppression_exclusions = all:warning
# .NET formatting rules
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/formatting-rules#net-formatting-rules
[*.{cs, csx, cake, vb, vbx}]
# Organize using directives
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
# Dotnet namespace options
dotnet_diagnostic.IDE0130.severity = suggestion
dotnet_style_namespace_match_folder = false
# C# formatting rules
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/formatting-rules#c-formatting-rules
[*.{cs, csx, cake}]
# Newline options
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/formatting-rules#new-line-options
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_open_brace = false
csharp_new_line_between_query_expression_clauses = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_before_members_in_object_initializers = false
# Indentation options
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/formatting-rules#indentation-options
csharp_indent_braces = false
csharp_indent_labels = no_change
csharp_indent_case_contents = false
csharp_indent_switch_labels = false
csharp_indent_block_contents = false
csharp_indent_case_contents_when_block = false
# 'using' directive preferences
csharp_using_directive_placement = false
# Modifier preferences
csharp_prefer_static_local_function = false
# "Null" checking preferences
csharp_style_throw_expression = false
csharp_style_conditional_delegate_call = false
# Code block preferences
csharp_prefer_braces = false
dotnet_diagnostic.IDE0063.severity = false
csharp_prefer_simple_using_statement = false
# 'var' preferences
csharp_style_var_elsewhere = false
csharp_style_var_for_built_in_types = false
csharp_style_var_when_type_is_apparent = false
# Pattern matching preferences
csharp_style_prefer_not_pattern = false
csharp_style_prefer_pattern_matching = false
csharp_style_prefer_switch_expression = false
csharp_style_pattern_matching_over_is_with_cast_check = false
csharp_style_pattern_matching_over_as_with_null_check = false
# Expression-level preferences
csharp_style_prefer_index_operator = false
csharp_style_prefer_range_operator = false
csharp_prefer_simple_default_expression = false
csharp_style_inlined_variable_declaration = false
csharp_style_deconstructed_variable_declaration = false
csharp_style_pattern_local_over_anonymous_function = false
csharp_style_implicit_object_creation_when_type_is_apparent = false
# Expression-bodied members
csharp_style_expression_bodied_methods = false
csharp_style_expression_bodied_lambdas = false
csharp_style_expression_bodied_indexers = false
csharp_style_expression_bodied_accessors = false
csharp_style_expression_bodied_operators = false
csharp_style_expression_bodied_properties = false
csharp_style_expression_bodied_constructors = false
csharp_style_expression_bodied_local_functions = false
##########################################
# License
##########################################
# The following applies as to the .editorconfig file ONLY and is included below for reference, per the requirements of the license corresponding to this .editorconfig file.
# See: https://github.com/RehanSaeed/EditorConfig
# MIT License
# Copyright (c) 2017-2019 Muhammad Rehan Saeed
# Copyright (c) 2019 Henry Gabryjelski
# Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated ocumentation files (the "Software"), to deal in the
# Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute,
# sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
# The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
##########################################
