# Version: 4.1.1 (Using https://semver.org/)
# Updated: 2022-05-23
# See https://github.com/RehanSaeed/EditorConfig/releases for release notes.
# See https://github.com/RehanSaeed/EditorConfig for updates to this file.
# See http://EditorConfig.org for more information about .editorconfig files.
##########################################
# Common Settings
##########################################
# This file is the top-most EditorConfig file
root = true
[*]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Matches the exact package files
[*.{package.json, package-lock.json, .eslintrc.json, .eslintignore, .prettierrc.json, .prettierignore, firebase.json, babel.config.json, edgeware.json, .travis.yml, LICENSE, VERSION}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# JSON Files
[*.{json, json5, jsonc, webmanifest}]
indent_size = 4
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true
# JS files and typechecker files
[*.{js, cjs, mjs, ts, cts, mts, jsx, tsx, vue, svelte, astro, gql, graphql}]
charset = utf-8
indent_size = 4
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true
# language for Data Science
[*.{ipynb, nb, py, pyx, pxi, pxd, r, rmd}]
indent_size = 4
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true
# styles files
[*.{css, scss, sass, less, styl, stylus}]
indent_size = 4
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true
# Object language
[*.{v, c, cpp, h, hpp, m, cs, pas, nim, rs, go, java, kt, scala, swift, ruby, php, sol, tf, OCaml}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Visual Studio XML Project Files
[*.{csproj, vbproj, vcxproj.filters, proj, projitems, shproj}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Visual Studio Solution Files
[*.sln]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# XML Configuration Files
[*.{xml, config, props, targets, nuspec, resx, ruleset, vsixmanifest, vsct}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# YML, YAML Files
[*.{yml, yaml}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Markdown Files
[*.{md, mdx}]
indent_size = 2
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Batch Files
[*.{cmd, bat, sh, Dockerfile, Compose}]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# Makefiles
[Makefile]
indent_size = 4
end_of_line = crlf
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
